@model BasicEcommerceApp.Presentation.Models.OrderViewModel

@{
    ViewData["Title"] = "Sipariş oluştur";
}

<h2>Create Order</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="ProductId" class="control-label">Products</label>
        <select asp-for="ProductId" class="form-control" asp-items="@(new SelectList(Model.Products, "Id", "Name"))">
            <option value="">Select a product</option>
        </select>
        <span asp-validation-for="ProductId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustomerName" class="control-label"></label>
        <input asp-for="CustomerName" class="form-control" />
        <span asp-validation-for="CustomerName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

