@model IEnumerable<BasicEcommerce.Domain.Entities.Order>

@{
    ViewData["Title"] = "Siparişler";
}

<h2>Siparişler</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ürün ID</th>
            <th>Miktar</th>
            <th>Müşteri Adı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.ProductId</td>
                <td>@order.Quantity</td>
                <td>@order.CustomerName</td>
            </tr>
        }
    </tbody>
</table>

